@media screen and (min-width: 992px) {
    .vacancies__colum:nth-child(1) {
        min-width: 520px;
    }
}

@media screen and (max-width: 991px) {
    .vacancies {
        .wrapper {
            flex-direction: column;
        }
        &__colum {
            &:nth-child(1) {
                max-width: 100%;
                margin-right: 0;
                padding-top: 0;
            }
            &:nth-child(2) {
                max-width: 100%;
            }
        }
        &__right-bar {
            max-width: 432px;
            margin: 32px auto 0;
        }
        .servis-ul {
            margin: 0;
            max-width: 100%;
        }
    }
    .about-us {
        &__colum:nth-child(1) {
            width: 270px;
            min-width: 270px;
        }
        &__logo {
            width: 250px;
            height: 164px;
        }
        &__logo-text {
            font-size: 32px;
        }
    }
    .our-services__title {
        font-size: 18px;
        line-height: 24px;
    }
    .form {
        &__row {
            flex-direction: column;
        }
        &__column {
            &:nth-child(1) {
                flex-direction: column;
                max-width: 100%;
                margin-right: 0;
                margin-bottom: 32px;
            }
            &:nth-child(2) {
                max-width: calc(100% + 16px) !important;
                width: calc(100% + 16px);
            }
        }
    }
    .equipment-text__text {
        max-width: 100%;
        margin-left: 0;
    }
    .equipment-info, .equipment-description {
        &__box {
            flex-direction: column;
        }
        &__img {
            height: 40vw;
            min-height: 230px;
            margin-right: 0;
        }
        &__img, .table, &__colum-text {
            max-width: 100%;
        }
    }
    .equipment-description {
        &__img {
            img {
                max-height: unset;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .equipment-info-price {
        max-width: 670px;
        padding: 28px;
        &__title {
            width: 144px;
        }
        &__text {
            font-size: 20px;
            line-height: 28px;
        }
    }
    .equipment-info, .equipment-description {
        &__img {
            margin-bottom: 28px;
        }
    }
    .about__img {
        max-width: 320px;
        width: 33vw;
        max-height: 440px;
        height: 45vw;
    }
}

@media screen and (max-width: 767px) {
    .certificate {
        .wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__colum {
            &:nth-child(1) {
                margin: 0 0 24px;
            }
        }
    }
    .about-us {
        .wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__colum {
            &:nth-child(1) {
                margin: 0 0 28px;
            }
            &:nth-child(2) {
                max-width: 100%;
                align-items: center;
            }
        }
        &__box {
            text-align: center;
            align-items: center;
        }
        &__group {
            align-items: center;
        }
    }
    .gallery, .overlay {
        padding-right: 16px;
        padding-left: 16px;
    }
    .text-block {
        &__cont {
            flex-direction: column;
        }
        &__colum {
            max-width: 100%;
            &:first-child {
                margin-right: 0;
            }
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
        &--ul-box {
            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
        &__h3 {
            font-size: 20px;
            line-height: 30px;
            margin: 0 auto 32px;
        }
    }
    .equipment-info, .equipment-description {
        margin-top: 66px;
    }
    .hero-mini, .text-block, .text-block__cont:not(:last-child), .about-us, .equipment-description__block {
        margin-bottom: 66px;
    }
    .form {
        margin: 66px 0;
    }
    .equipment-info-price {
        max-width: 600px;
        padding: 16px;
        &__title {
            width: 126px;
        }
        &__text {
            font-size: 18px;
            line-height: 24px;
        }
    }
    .equipment-info-price {
        padding: 16px;
    }
    .wrapper, .wrapper-big {
        padding: 0 16px;
    }
    .form__cont {
        padding: 20px 16px 32px;
    }
    .about {
        margin-top: 86px;
        margin-bottom: 66px;
        .wrapper {
            flex-direction: column-reverse;
        }
        &__colum-text, &__colum-img {
            max-width: 100%;
        }
        &__colum-img {
            margin-bottom: 32px;
        }
        &__img {
            width: 54vw;
            height: 44vw;
            object-fit: cover;
        }
    }
    .hero {
        height: auto;
        min-height: calc(100vh - 80px);
        padding: 50px 0;
        &__box {
            margin-bottom: 0;
        }
    }
    .our-services {
        padding-top: 66px;
    }
    .benefits {
        margin-top: 66px;
        margin-bottom: 86px;
        &__text {
            font-size: 16px;
        }
        &__cirlce {
            margin-right: 16px;
        }
        h2 {
            margin-bottom: 48px;
        }
    }
    h2 {
        margin-bottom: 32px;
    }
    .reviews {
        padding: 66px 0;
    }
    footer {
        .wrapper {
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
    .footer {
        &__colum {
            &:first-child {
                padding: 0!important;
            }
            &:first-child, &:last-child {
                max-width: 100%;
                width: 100%;
                align-items: center;
            }
            &:not(:last-child) {
                padding: 0 12px;
              margin-bottom: 32px;
            }
        }
        &__items {
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
    .equipment-info, .equipment-description {
        &__img {
            margin-bottom: 16px;
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .our-services__cont, .reviews__cont {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 575px) {
    .equipment-info-price {
        flex-direction: column;
        align-items: center;
        text-align: center;
        &__title {
            padding: 0;
            margin-bottom: 16px;
        }
        &__group {
            .equipment-info-price__text:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }
    .reviews__cont {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-services {
        &__box {
            max-width: 365px;
            width: 100%;
            margin: 0 auto;
        }
        &__cont {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    h1 {
        font-size: 38px;
        line-height: 42px;
        word-break: break-word;
    }
    .form__box {
        width: calc(100% - 16px);
    }
}

@media screen and (max-width: 420px) {
    .vacancies__right-bar {
        padding: 64px 38px;
    }
    .checked {
        width: calc((100% - 32px) / 2);
    }
    .certificate__big-img {
        height: 446px;
    }
}