// text - colors
$color-black: #000;
$color-black-light: #333333;
$color-white: #fff;
$color-yellow: #FEBB14;
$color-yellow-hover: #FFDB99;
$color-gray: #7E7986;
$color-red: #E10000;


// bg - color
$bg-white: #fff;
$bg-black: #000;
$bg-black-100: #1B1B1B;
$bg-yellow: #FEBB2D;
$bg-yellow-light: #FFF5E1;
$bg-overlay: rgba(0,0,0,.7);

// button - color
$btn-yellow: #FEBB14;
$btn-yellow-hover: #FED367;

// border - color
$border-color-white: #fff;
$border-color-black: #000;
$border-color-green: #3E8E66;
$border-color-green-modal: #007f24;
$border-color-red-modal: #E10000;
$border-color-yellow: #FFDB99;
$border-color-yellow-hover: #FEBB14;
$border-color-gray: #CCCACF;

// table - color
$tr-bg-odd: #FFF5E0;
$tr-bg-even: #FFFCF5;



// fonts
$openSans: 'OpenSans', sans-serif;
$exo: 'Exo', sans-serif;