@import "fonts";
@import "variables";

*, *:before, *:after {
    outline: none !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input:invalid {
    box-shadow: none;
}
h1,h2,h3,span,p,b {
    cursor: default;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: unset;
    color: $color-black;
}
svg, img {
    width: 100%;
    height: 100%;
}
button, input, textarea {
    font-family: $openSans;
}
body {
    font-family: $openSans;
    background: $bg-white;
    line-height: 1.5;
    color: $color-black;
    min-width: 320px;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: background 5000000s ease-in-out 0s;
}
button, .checked, .social-networks__link {
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.btn, .our-services__box, input, textarea, .checked__bg, .checked__circle, .checked__circle:after, .footer__link:after, .social-networks__link, .header__phone, .about-us__mail, .over__close,
.btn-text__img, .vacancies__phone, .pagination__img, .pagination__arrow, .pagination__btn
{
    transition: .1s linear;
}
.max-w-660 {
    max-width: 660px;
}
.max-w-566 {
    max-width: 566px;
}
.mb-48 {
    margin-bottom: 48px!important;
}
.mt-32 {
    margin-top: 32px;
}

// base style
.wrapper, .wrapper-big {
    width: 100%;
    margin: 0 auto;
    padding: 0 28px;
}
.wrapper {
    max-width: 1216px;
}
.wrapper-big {
    max-width: 1384px;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $btn-yellow;
    border: unset;
    min-width: 148px;
    padding: 8px 16px;
    font-size: 14px;
    min-height: 42px;
    color: $color-black;
    cursor: pointer;
    align-self: flex-start;
}




// Header - open
.header {
    display: flex;
    padding: 10px 0;
    height: 80px;
    &__info {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    &__phone {
        font-size: 14px;
        font-weight: 600;
        margin-left: 16px;
        cursor: pointer;
    }
}
.logo {
    display: flex;
    flex-direction: column;
    &__img {
        width: 68px;
        height: 42px;
        object-fit: contain;
    }
    &__text {
        font-size: 10px;
        font-family: $exo;
        cursor: pointer;
    }
}
.social-networks {
    display: flex;
    &__link {
        display: flex;
        width: 24px;
        height: 24px;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 16px;
        }
    }
}
// Header - close



// Home page - open
.hero {
    display: flex;
    align-items: center;
    position: relative;
    height: calc(100vh - 80px);
    min-height: 600px;
    .wrapper {
        z-index: 2;
    }
    &__box {
        display: flex;
        flex-direction: column;
        max-width: 676px;
        margin-bottom: 50px;
        z-index: 2;
    }
    &__subtitle {
        font-size: 18px;
        color: $color-white;
        font-weight: 600;
        line-height: 24px;
        margin-top: 42px;
        margin-bottom: 74px;
    }
    .btn {
        text-transform: uppercase;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
.hero:after, .hero-mini:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $bg-black;
    mix-blend-mode: multiply;
    opacity: 0.55;
    z-index: 1;
}
h1 {
    font-size: 45px;
    line-height: 52px;
    color: $color-white;
}

.about {
    margin-top: 120px;
    margin-bottom: 86px;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__colum-text, &__colum-img {
        display: flex;
        flex-direction: column;
        max-width: 552px;
        width: 100%;
    }
    &__colum-text {
        margin-right: 28px;
    }
    &__logo-img {
        width: 194px;
        object-fit: contain;
        margin-top: 94px;
        height: auto;
    }
    &__colum-img {
        position: relative;
        padding-bottom: 80px;
    }
    &__img {
        width: 320px;
        height: 440px;
        object-fit: cover;
        &:nth-child(2) {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            border: 1px solid $border-color-white;
            margin-top: 80px;
        }
    }
    &__description {
        font-size: 18px;
        line-height: 24px;
    }
}
h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 33px;
    margin-bottom: 48px;
}
.our-services {
    padding-top: 96px;
    padding-bottom: 64px;
    background-color: $bg-yellow-light;
    h2 {
        text-align: center;
    }
    &__cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 32px;
    }
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px;
        min-height: 220px;
        background-color: $bg-white;
        border: 1px solid $border-color-yellow;
        filter: drop-shadow(0px 1px 8px rgba(255, 166, 0, 0.15));
    }
    &__img {
        width: 64px;
        height: 64px;
        object-fit: contain;
    }
    &__title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        margin-top: 24px;
        text-align: center;
        cursor: pointer;
    }
}
.benefits {
    margin-top: 96px;
    margin-bottom: 120px;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        margin-bottom: 58px;
        text-align: center;
    }
    &__list {
        display: flex;
        flex-direction: column;
        max-width: 660px;
    }
    &__items {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    &__cirlce {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        min-width: 64px;
        height: 64px;
        min-height: 64px;
        border-radius: 50%;
        background-color: $bg-yellow;
        margin-right: 28px;
    }
    &__icon {
        width: 36px;
        height: 36px;
        object-fit: contain;
    }
    &__text {
        font-size: 18px;
    }
}
.reviews {
    padding: 96px 0;
    background-color: $bg-yellow-light;
    h2 {
        text-align: center;
    }
    &__cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 32px;
    }
    &__box {
        display: flex;
        flex-direction: column;
    }
    &__title {
        display: flex;
        padding: 12px 16px;
        font-weight: 700;
        background-color: $bg-yellow;
        margin-bottom: 16px;
    }
}
.form {
    margin: 96px 0;
    h3 {
        text-align: center;
        margin-bottom: 48px;
    }
    &__cont {
        display: flex;
        flex-direction: column;
        background-color: $bg-yellow-light;
        padding: 22px 32px 40px;
        position: relative;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        padding-top: 32px;
        border-top: 1px solid $border-color-black;
    }
    &__column {
        display: flex;
        width: 100%;
        &:nth-child(1) {
            flex-direction: column;
            max-width: 400px;
            margin-right: 44px;
        }
        &:nth-child(2) {
            flex-wrap: wrap;
            max-width: 672px!important;
            margin-right: -16px;
        }
    }
    &__main-title {
        font-size: 24px;
        line-height: 32px;
    }
    &__title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 16px;
    }
    &__subtitle {
        font-size: 16px;
        color: $color-gray;
    }
    &__box {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-right: 16px;
        width: calc((100% - 32px) / 2);
        margin-bottom: 28px;
    }
    &__caption {
        margin-bottom: 8px;
    }
    &__input {
        height: 48px;
        width: 100%;
        background-color: $bg-white;
        border: 1px solid $border-color-yellow;
        font-size: 16px;
        color: $color-black;
        padding: 0 16px;
    }
    &__error {
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 4px;
        font-size: 12px;
        line-height: 16px;
        color: $color-red;
    }
    &__textarea {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin-bottom: 32px;
        padding-right: 16px;
        textarea {
            height: 96px;
            width: 100%;
            background-color: $bg-white;
            border: 1px solid $border-color-yellow;
            font-size: 16px;
            color: $color-black;
            padding: 14px 16px;
            resize: vertical;
        }
    }
}
.checked {
    display: flex;
    flex-direction: column-reverse;
    width: 152px;
    text-align: center;
    padding: 4px 12px 8px 12px;
    min-height: 84px;
    align-items: center;
    position: relative;
    margin: 0 16px 16px 0;
    &__wrapper {
        margin-bottom: -16px;
    }
    &__input {
        display: none;
        &:checked {
            + .checked__circle {
                border-color: $border-color-black!important;
                &:after {
                    opacity: 1;
                }
            }
            ~ .checked__bg {
                border-color: $border-color-yellow-hover;
                background-color: $bg-yellow;
            }
        }
    }
    &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 12px;
        height: 12px;
        background-color: $bg-white;
        border: 1px solid $border-color-yellow;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1;
        &:after {
            content: "";
            position: absolute;
            border-radius: 50%;
            background-color: $bg-black;
            width: 8px;
            height: 8px;
            opacity: 0;
        }
    }
    &__text {
        font-size: 14px;
        line-height: 16px;
        margin: auto 0;
        padding: 4px 0;
        cursor: pointer;
        z-index: 1;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-color: $bg-white;
        border: 1px solid $border-color-yellow;
    }
}
// Home page - close

// Footer - open
footer {
    background-color: $bg-black-100;
    padding: 32px 0 56px;
    color: $color-white;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
}
.footer {
    &__colum {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        &:not(:last-child) {
            padding-right: 32px;
        }
        &:first-child {
            max-width: 300px;
        }
    }
    &__items {
        display: flex;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    &__link {
        color: $color-white;
        position: relative;
        line-height: 24px;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $bg-white;
            margin-bottom: -2px;
            opacity: 0;
        }
    }
    &__logo {
        display: flex;
        margin-bottom: 16px;
    }
    &__logo-img {
        width: 90px;
        height: 55px;
        object-fit: contain;
    }
    &__logo-title {
        text-transform: uppercase;
    }
}
// Footer - close

// Equipment rental - open
.hero-mini {
    height: 400px;
    position: relative;
    margin-bottom: 96px;
    .wrapper {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    h1 {
        text-align: center;
        z-index: 2;
    }
}
.equipment-text {
    margin-bottom: 64px;
    &__cont {
        display: flex;
    }
    &__text {
        width: 100%;
        max-width: 566px;
        margin-left: auto;
    }
}
h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 24px;
}
.equipment-info, .equipment-description {
    margin-bottom: 94px;
    &__block {
        display: flex;
        flex-direction: column;
        margin-bottom: 64px;
    }
    &__box {
        display: flex;
        min-height: 300px;
    }
    &__img, .table, &__colum-text {
        max-width: 566px;
        width: 100%;
    }
    &__img {
        position: relative;
        margin-right: 28px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
}
.equipment-description {
    &__block {
        margin-bottom: 96px;
    }
    &__img {
        img {
            max-height: 300px;
        }
    }
}
.table {
    display: flex;
    flex-direction: column;
}
.tr {
    display: flex;
    padding-left: 16px;
    &:nth-child(odd) {
        background-color: $tr-bg-odd;
    }
    &:nth-child(even) {
        background-color: $tr-bg-even;
    }
}
.td {
    display: flex;
    padding: 18px 16px 18px 0;
    &:nth-child(1) {
        width: 64%;
        span {
            opacity: .6;
        }
    }
    &:nth-child(2) {
        width: 36%;
        min-width: 150px;
        span {
            font-weight: 600;
        }
    }
}
.equipment-info-price {
    display: flex;
    width: 100%;
    max-width: 762px;
    margin: 0 auto;
    padding: 32px;
    border: 2px solid $border-color-green;
    &__text {
        font-size: 24px;
        line-height: 32px;
    }
    &__group {
        display: flex;
        flex-direction: column;
        .equipment-info-price__text:not(:last-child) {
            margin-bottom: 24px;
        }
    }
    &__title {
        width: 164px;
        padding-right: 24px;
    }
}
// Equipment rental - close

// Dismantling - open
.text-block {
    margin-bottom: 96px;
    &__cont {
        display: flex;
        &:not(:last-child) {
            margin-bottom: 96px;
        }
    }
    &__colum {
        display: flex;
        flex-direction: column;
        max-width: 566px;
        width: 100%;
        &:first-child {
            margin-right: 28px;
        }
    }
    &__h3 {
        font-size: 28px;
        font-weight: 400;
        line-height: 40px;
        text-align: center;
        max-width: 720px;
        margin: 0 auto 48px;
    }
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .pit-svg {
            width: 128px;
            height: 128px;
            object-fit: contain;
        }
    }
    ul li {
        position: relative;
        padding-left: 32px;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
        &:after {
            content: "";
            top: 4px;
            width: 16px;
            height: 16px;
        }
    }
    ul li, ol li {
        &:after {
            position: absolute;
            left: 0;
            border-radius: 50%;
            background: $bg-yellow;
        }
    }
    ol li {
        position: relative;
        padding-left: 48px;
        counter-increment: ol-number;
        &:not(:last-child) {
            margin-bottom: 32px;
        }
        &:after {
            content: "" counter(ol-number);
            top: -3px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
        }
    }
    ol {
        margin-top: 12px;
    }
    &__group-title {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        h3 {
            margin-bottom: 0;
        }
    }
    &__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: $bg-yellow;
        width: 32px;
        min-width: 32px;
        height: 32px;
        margin-right: 16px;
    }
}
.about-us {
    margin-bottom: 96px;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__colum {
        display: flex;
        flex-direction: column;
        &:nth-child(1) {
            width: 370px;
            min-width: 370px;
            align-items: center;
            justify-content: center;
            margin-right: 28px;
        }
        &:nth-child(2) {
            width: 100%;
            min-height: 290px;
            justify-content: space-between;
        }
    }
    &__logo {
        width: 350px;
        height: 214px;
        object-fit: contain;
    }
    &__logo-text {
        font-size: 46px;
        line-height: 1;
        font-family: $exo;
        color: $color-black-light;
    }
    &__box {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    &__group {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        .header__phone {
            margin: 0 0 8px;
            font-size: 18px;
            font-weight: 600;
        }
    }
    &__mail {
        font-size: 18px;
        font-weight: 600;
        align-self: flex-start;
    }
}
.certificate {
    padding: 48px 0;
    background-color: $bg-yellow-light;
    .wrapper {
        display: flex;
        justify-content: center;
    }
    &__colum {
        width: 100%;
        max-width: 365px;
        &:nth-child(1) {
            margin-right: 24px;
        }
    }
    &__big-img {
        height: 546px;
        padding: 14px;
    }
    &__large-img {
        height: 262px;
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }
    &__large-img, &__big-img {
        width: 100%;
        background-color: $bg-white;
        border: 1px solid $border-color-yellow;
        position: relative;
        cursor: pointer;
        &:after {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }
        &:after, &:before {
            content: "";
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }
        &:before {
            top: 50%;
            left: 50%;
            width: 60px;
            height: 60px;
            background: url(../img/loop__plus.svg) 50%/contain no-repeat;
            z-index: 2;
            transform: translate(-50%,-50%) scale(.6);
        }
        img {
            object-fit: contain;
        }
    }
}
.overlay-from {
    position: absolute;
    .over__close {
        position: absolute;
    }
}
.overlay-from, .gallery, .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    padding: 64px;
    background: $bg-overlay;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery, .overlay {
    position: fixed;
}
.gallery {
    &__img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        z-index: 2;
    }
}
.over__close {
    position: fixed;
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
    display: flex;
    border: unset;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    svg {
        width: 40%;
        height: 40%;
    }
}
.modal-notifi {
    display: flex;
    justify-content: center;

    &__block {
        display: flex;
        flex-direction: column;
        background-color: $bg-white;
        padding: 30px 40px 36px;
        align-items: center;
        text-align: center;
        max-width: 320px;
        width: 100%;
        min-width: 278px;
        &.success {
            border-top: 4px solid $border-color-green-modal;
        }
        &.error {
            border-top: 4px solid $border-color-red-modal;
        }
    }
    &__img {
        width: 16px;
        height: 16px;
        margin-bottom: 8px;
    }
    &__title {
        font-size: 18px;
        margin-bottom: 24px;
        line-height: 1.3;
    }
    &__text {
        font-size: 18px;
        line-height: 1.3;
    }
}
.preloader {
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    svg {
        width: 100%;
        height: 100%;
    }
    &__spinner {
        animation: rotation 1.35s linear infinite;
        position: absolute;
    }
    &__circle {
        stroke-dasharray: 180;
        stroke-dashoffset: 0;
        transform-origin: center;
        animation: turn 1.35s ease-in-out infinite;
        stroke: $color-yellow;
    }
    &__circle-bg {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        transform-origin: center;
        stroke: rgba(255,227,115,0.4);
    }
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}
@keyframes turn {
    0% {
        stroke-dashoffset: 180;
    }
    50% {
        stroke-dashoffset: 45;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 180;
        transform: rotate(450deg);
    }
}
.vacancies {
    margin-bottom: 64px;
    h3 {
        margin-bottom: 0;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__colum {
        display: flex;
        flex-direction: column;
        width: 100%;
        &:nth-child(1) {
            max-width: 768px;
            margin-right: 44px;
            padding-top: 32px;
        }
        &:nth-child(2) {
            max-width: 432px;
            position: sticky;
            top: 0;
            align-self: flex-start;
        }
    }
    &__box {
        display: flex;
        flex-direction: column;
        padding-bottom: 32px;
        &:not(:last-child) {
            margin-bottom: 32px;
            border-bottom: 1px solid $border-color-gray;
        }
    }
    &__text {
        width: 100%;
        &.gray {
            color: $color-gray;
            margin: 16px 0;
        }
    }
    &__phone {
        font-size: 18px;
        font-weight: 600;
        margin-top: 32px;
    }
    &__phone-subtitle {
        font-size: 12px;
    }
    .btn-text {
        align-self: flex-start;
    }
    .btn {
        margin: 64px auto 0;
    }
    &__right-bar {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        padding: 64px 64px;
        background-color: $bg-yellow-light;
        align-items: center;
        text-align: center;
    }
    .servis-ul {
        max-width: 656px;
        width: 100%;
        margin: 0 0 0 auto;
    }
    &__italic {
        font-size: 18px;
        margin-bottom: 24px;
        line-height: 24px;
        font-style: italic;
        text-decoration: underline;
    }
}
.btn-text {
    display: flex;
    align-items: center;
    position: relative;
    color: $color-black;
    &--next {
        .btn-text__img {
            margin-left: 8px;
        }
    }
    &--back {
        .btn-text__img {
            margin-right: 8px;
        }
    }
    &__text {
        cursor: pointer;
    }
    &__img {
        width: 16px;
        height: 10px;
        object-fit: contain;
    }
}
.servis-ul {
    padding-left: 30px;
    &__li:not(:last-child) {
        margin-bottom: 1rem;
    }
    &__li {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 8px;
            height: 8px;
            border: 1px solid $border-color-yellow-hover;
            border-radius: 50%;
            margin: 8px 0 0 -30px;
        }
    }
}
.pagination {
    display: flex;
    margin-top: 1rem;
    width: 100%;
    justify-content: center;
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        font-size: 18px;
        color: $color-gray;
        font-family: 'Ubuntu', sans-serif;
        margin: 0 2px;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        &.active {
            border-color: $border-color-black;
            color: $color-black;
        }
    }
    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        margin: 0 10px;
        cursor: pointer;
    }
    &__img {
        width: 20px;
    }
}














// Dismantling - close











// Focus
input:focus, textarea:focus {
    border-color: $border-color-yellow-hover;
}

// Active
.btn:active {
    background-color: $btn-yellow-hover;
}
.our-services__box:active {
    filter: drop-shadow(0px 8px 12px rgba(255, 166, 0, 0.25));
}
.social-networks__link:active, .header__phone:active, .about-us__mail:active, , .vacancies__phone:active {
    color: $color-yellow;
}
.over__close:active {
    background: $bg-overlay;
}
.btn-text:active {
    &.btn-text--next {
        .btn-text__img {
            margin-left: 14px;
        }
    }
    &.btn-text--back {
        .btn-text__img {
            margin-right: 14px;
            margin-left: -6px;
        }
    }
}
.pagination__arrow:active {
    &.left {
        .pagination__img {
            transform: translateX(-7px);
        }
    }
    &.right {
        .pagination__img {
            transform: translateX(7px);
        }
    }
}
.pagination__btn:active {
    color: $color-black;
}

// Hover
@media (hover: hover) {
    .pagination__arrow:hover {
        &.left {
            .pagination__img {
                transform: translateX(-7px);
            }
        }
        &.right {
            .pagination__img {
                transform: translateX(7px);
            }
        }
    }
    .pagination__btn:hover {
        color: $color-black;
    }
    .btn-text:hover {
        &.btn-text--next {
            .btn-text__img {
                margin-left: 14px;
            }
        }
        &.btn-text--back {
            .btn-text__img {
                margin-right: 14px;
                margin-left: -6px;
            }
        }
    }
    .over__close:hover {
        background: $bg-overlay;
    }
    .btn:hover {
        background-color: $btn-yellow-hover;
    }
    .our-services__box:hover {
        filter: drop-shadow(0px 8px 12px rgba(255, 166, 0, 0.25));
    }
    input:focus, textarea:focus, input:hover, textarea:hover {
        border-color: $border-color-yellow-hover;
    }
    .checked:hover {
        .checked__circle, .checked__bg {
            border-color: $border-color-yellow-hover;
        }
    }
    .footer__link:hover:after {
        opacity: 1;
    }
    .social-networks__link:hover, .header__phone:hover, .about-us__mail:hover, .vacancies__phone:hover {
        color: $color-yellow;
    }
    .certificate__large-img:hover, .certificate__big-img:hover {
        &:after, &:before {
            opacity: 1;
        }
        &:before {
            transform: translate(-50%,-50%) scale(1);
        }
    }
}

@import "media";