@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Exo';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Exo2-Medium.eot");
  src: url("../fonts/Exo2-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2-Medium.woff") format("woff"), url("../fonts/Exo2-Medium.ttf") format("truetype"); }

*, *:before, *:after {
  outline: none !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input:invalid {
  box-shadow: none; }

h1, h2, h3, span, p, b {
  cursor: default; }

ul, ol {
  list-style: none; }

a {
  text-decoration: unset;
  color: #000; }

svg, img {
  width: 100%;
  height: 100%; }

button, input, textarea {
  font-family: "OpenSans", sans-serif; }

body {
  font-family: "OpenSans", sans-serif;
  background: #fff;
  line-height: 1.5;
  color: #000;
  min-width: 320px; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition: background 5000000s ease-in-out 0s; }

button, .checked, .social-networks__link {
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

.btn, .our-services__box, input, textarea, .checked__bg, .checked__circle, .checked__circle:after, .footer__link:after, .social-networks__link, .header__phone, .about-us__mail, .over__close,
.btn-text__img, .vacancies__phone, .pagination__img, .pagination__arrow, .pagination__btn {
  transition: .1s linear; }

.max-w-660 {
  max-width: 660px; }

.max-w-566 {
  max-width: 566px; }

.mb-48 {
  margin-bottom: 48px !important; }

.mt-32 {
  margin-top: 32px; }

.wrapper, .wrapper-big {
  width: 100%;
  margin: 0 auto;
  padding: 0 28px; }

.wrapper {
  max-width: 1216px; }

.wrapper-big {
  max-width: 1384px; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEBB14;
  border: unset;
  min-width: 148px;
  padding: 8px 16px;
  font-size: 14px;
  min-height: 42px;
  color: #000;
  cursor: pointer;
  align-self: flex-start; }

.header {
  display: flex;
  padding: 10px 0;
  height: 80px; }
  .header__info {
    display: flex;
    align-items: center;
    margin-left: auto; }
  .header__phone {
    font-size: 14px;
    font-weight: 600;
    margin-left: 16px;
    cursor: pointer; }

.logo {
  display: flex;
  flex-direction: column; }
  .logo__img {
    width: 68px;
    height: 42px;
    object-fit: contain; }
  .logo__text {
    font-size: 10px;
    font-family: "Exo", sans-serif;
    cursor: pointer; }

.social-networks {
  display: flex; }
  .social-networks__link {
    display: flex;
    width: 24px;
    height: 24px;
    cursor: pointer; }
    .social-networks__link:not(:last-child) {
      margin-right: 16px; }

.hero {
  display: flex;
  align-items: center;
  position: relative;
  height: calc(100vh - 80px);
  min-height: 600px; }
  .hero .wrapper {
    z-index: 2; }
  .hero__box {
    display: flex;
    flex-direction: column;
    max-width: 676px;
    margin-bottom: 50px;
    z-index: 2; }
  .hero__subtitle {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    line-height: 24px;
    margin-top: 42px;
    margin-bottom: 74px; }
  .hero .btn {
    text-transform: uppercase; }
  .hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; }

.hero:after, .hero-mini:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  mix-blend-mode: multiply;
  opacity: 0.55;
  z-index: 1; }

h1 {
  font-size: 45px;
  line-height: 52px;
  color: #fff; }

.about {
  margin-top: 120px;
  margin-bottom: 86px; }
  .about .wrapper {
    display: flex;
    justify-content: space-between; }
  .about__colum-text, .about__colum-img {
    display: flex;
    flex-direction: column;
    max-width: 552px;
    width: 100%; }
  .about__colum-text {
    margin-right: 28px; }
  .about__logo-img {
    width: 194px;
    object-fit: contain;
    margin-top: 94px;
    height: auto; }
  .about__colum-img {
    position: relative;
    padding-bottom: 80px; }
  .about__img {
    width: 320px;
    height: 440px;
    object-fit: cover; }
    .about__img:nth-child(2) {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      border: 1px solid #fff;
      margin-top: 80px; }
  .about__description {
    font-size: 18px;
    line-height: 24px; }

h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 33px;
  margin-bottom: 48px; }

.our-services {
  padding-top: 96px;
  padding-bottom: 64px;
  background-color: #FFF5E1; }
  .our-services h2 {
    text-align: center; }
  .our-services__cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px; }
  .our-services__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    min-height: 220px;
    background-color: #fff;
    border: 1px solid #FFDB99;
    filter: drop-shadow(0px 1px 8px rgba(255, 166, 0, 0.15)); }
  .our-services__img {
    width: 64px;
    height: 64px;
    object-fit: contain; }
  .our-services__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-top: 24px;
    text-align: center;
    cursor: pointer; }

.benefits {
  margin-top: 96px;
  margin-bottom: 120px; }
  .benefits .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .benefits h2 {
    margin-bottom: 58px;
    text-align: center; }
  .benefits__list {
    display: flex;
    flex-direction: column;
    max-width: 660px; }
  .benefits__items {
    display: flex;
    align-items: center; }
    .benefits__items:not(:last-child) {
      margin-bottom: 16px; }
  .benefits__cirlce {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    min-width: 64px;
    height: 64px;
    min-height: 64px;
    border-radius: 50%;
    background-color: #FEBB2D;
    margin-right: 28px; }
  .benefits__icon {
    width: 36px;
    height: 36px;
    object-fit: contain; }
  .benefits__text {
    font-size: 18px; }

.reviews {
  padding: 96px 0;
  background-color: #FFF5E1; }
  .reviews h2 {
    text-align: center; }
  .reviews__cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px; }
  .reviews__box {
    display: flex;
    flex-direction: column; }
  .reviews__title {
    display: flex;
    padding: 12px 16px;
    font-weight: 700;
    background-color: #FEBB2D;
    margin-bottom: 16px; }

.form {
  margin: 96px 0; }
  .form h3 {
    text-align: center;
    margin-bottom: 48px; }
  .form__cont {
    display: flex;
    flex-direction: column;
    background-color: #FFF5E1;
    padding: 22px 32px 40px;
    position: relative; }
  .form__row {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid #000; }
  .form__column {
    display: flex;
    width: 100%; }
    .form__column:nth-child(1) {
      flex-direction: column;
      max-width: 400px;
      margin-right: 44px; }
    .form__column:nth-child(2) {
      flex-wrap: wrap;
      max-width: 672px !important;
      margin-right: -16px; }
  .form__main-title {
    font-size: 24px;
    line-height: 32px; }
  .form__title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px; }
  .form__subtitle {
    font-size: 16px;
    color: #7E7986; }
  .form__box {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 16px;
    width: calc((100% - 32px) / 2);
    margin-bottom: 28px; }
  .form__caption {
    margin-bottom: 8px; }
  .form__input {
    height: 48px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #FFDB99;
    font-size: 16px;
    color: #000;
    padding: 0 16px; }
  .form__error {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    color: #E10000; }
  .form__textarea {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-bottom: 32px;
    padding-right: 16px; }
    .form__textarea textarea {
      height: 96px;
      width: 100%;
      background-color: #fff;
      border: 1px solid #FFDB99;
      font-size: 16px;
      color: #000;
      padding: 14px 16px;
      resize: vertical; }

.checked {
  display: flex;
  flex-direction: column-reverse;
  width: 152px;
  text-align: center;
  padding: 4px 12px 8px 12px;
  min-height: 84px;
  align-items: center;
  position: relative;
  margin: 0 16px 16px 0; }
  .checked__wrapper {
    margin-bottom: -16px; }
  .checked__input {
    display: none; }
    .checked__input:checked + .checked__circle {
      border-color: #000 !important; }
      .checked__input:checked + .checked__circle:after {
        opacity: 1; }
    .checked__input:checked ~ .checked__bg {
      border-color: #FEBB14;
      background-color: #FEBB2D; }
  .checked__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 1px solid #FFDB99;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1; }
    .checked__circle:after {
      content: "";
      position: absolute;
      border-radius: 50%;
      background-color: #000;
      width: 8px;
      height: 8px;
      opacity: 0; }
  .checked__text {
    font-size: 14px;
    line-height: 16px;
    margin: auto 0;
    padding: 4px 0;
    cursor: pointer;
    z-index: 1; }
  .checked__bg {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #FFDB99; }

footer {
  background-color: #1B1B1B;
  padding: 32px 0 56px;
  color: #fff; }
  footer .wrapper {
    display: flex;
    justify-content: space-between; }

.footer__colum {
  display: flex;
  flex-direction: column;
  max-width: 200px; }
  .footer__colum:not(:last-child) {
    padding-right: 32px; }
  .footer__colum:first-child {
    max-width: 300px; }

.footer__items {
  display: flex; }
  .footer__items:not(:last-child) {
    margin-bottom: 16px; }

.footer__link {
  color: #fff;
  position: relative;
  line-height: 24px; }
  .footer__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-bottom: -2px;
    opacity: 0; }

.footer__logo {
  display: flex;
  margin-bottom: 16px; }

.footer__logo-img {
  width: 90px;
  height: 55px;
  object-fit: contain; }

.footer__logo-title {
  text-transform: uppercase; }

.hero-mini {
  height: 400px;
  position: relative;
  margin-bottom: 96px; }
  .hero-mini .wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center; }
  .hero-mini h1 {
    text-align: center;
    z-index: 2; }

.equipment-text {
  margin-bottom: 64px; }
  .equipment-text__cont {
    display: flex; }
  .equipment-text__text {
    width: 100%;
    max-width: 566px;
    margin-left: auto; }

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 24px; }

.equipment-info, .equipment-description {
  margin-bottom: 94px; }
  .equipment-info__block, .equipment-description__block {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px; }
  .equipment-info__box, .equipment-description__box {
    display: flex;
    min-height: 300px; }
  .equipment-info__img, .equipment-info .table, .equipment-info__colum-text, .equipment-description__img, .equipment-description .table, .equipment-description__colum-text {
    max-width: 566px;
    width: 100%; }
  .equipment-info__img, .equipment-description__img {
    position: relative;
    margin-right: 28px; }
    .equipment-info__img img, .equipment-description__img img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover; }

.equipment-description__block {
  margin-bottom: 96px; }

.equipment-description__img img {
  max-height: 300px; }

.table {
  display: flex;
  flex-direction: column; }

.tr {
  display: flex;
  padding-left: 16px; }
  .tr:nth-child(odd) {
    background-color: #FFF5E0; }
  .tr:nth-child(even) {
    background-color: #FFFCF5; }

.td {
  display: flex;
  padding: 18px 16px 18px 0; }
  .td:nth-child(1) {
    width: 64%; }
    .td:nth-child(1) span {
      opacity: .6; }
  .td:nth-child(2) {
    width: 36%;
    min-width: 150px; }
    .td:nth-child(2) span {
      font-weight: 600; }

.equipment-info-price {
  display: flex;
  width: 100%;
  max-width: 762px;
  margin: 0 auto;
  padding: 32px;
  border: 2px solid #3E8E66; }
  .equipment-info-price__text {
    font-size: 24px;
    line-height: 32px; }
  .equipment-info-price__group {
    display: flex;
    flex-direction: column; }
    .equipment-info-price__group .equipment-info-price__text:not(:last-child) {
      margin-bottom: 24px; }
  .equipment-info-price__title {
    width: 164px;
    padding-right: 24px; }

.text-block {
  margin-bottom: 96px; }
  .text-block__cont {
    display: flex; }
    .text-block__cont:not(:last-child) {
      margin-bottom: 96px; }
  .text-block__colum {
    display: flex;
    flex-direction: column;
    max-width: 566px;
    width: 100%; }
    .text-block__colum:first-child {
      margin-right: 28px; }
  .text-block__h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    max-width: 720px;
    margin: 0 auto 48px; }
  .text-block__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
    .text-block__img .pit-svg {
      width: 128px;
      height: 128px;
      object-fit: contain; }
  .text-block ul li {
    position: relative;
    padding-left: 32px; }
    .text-block ul li:not(:last-child) {
      margin-bottom: 16px; }
    .text-block ul li:after {
      content: "";
      top: 4px;
      width: 16px;
      height: 16px; }
  .text-block ul li:after, .text-block ol li:after {
    position: absolute;
    left: 0;
    border-radius: 50%;
    background: #FEBB2D; }
  .text-block ol li {
    position: relative;
    padding-left: 48px;
    counter-increment: ol-number; }
    .text-block ol li:not(:last-child) {
      margin-bottom: 32px; }
    .text-block ol li:after {
      content: "" counter(ol-number);
      top: -3px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px; }
  .text-block ol {
    margin-top: 12px; }
  .text-block__group-title {
    display: flex;
    align-items: center;
    margin-bottom: 24px; }
    .text-block__group-title h3 {
      margin-bottom: 0; }
  .text-block__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #FEBB2D;
    width: 32px;
    min-width: 32px;
    height: 32px;
    margin-right: 16px; }

.about-us {
  margin-bottom: 96px; }
  .about-us .wrapper {
    display: flex;
    justify-content: space-between; }
  .about-us__colum {
    display: flex;
    flex-direction: column; }
    .about-us__colum:nth-child(1) {
      width: 370px;
      min-width: 370px;
      align-items: center;
      justify-content: center;
      margin-right: 28px; }
    .about-us__colum:nth-child(2) {
      width: 100%;
      min-height: 290px;
      justify-content: space-between; }
  .about-us__logo {
    width: 350px;
    height: 214px;
    object-fit: contain; }
  .about-us__logo-text {
    font-size: 46px;
    line-height: 1;
    font-family: "Exo", sans-serif;
    color: #333333; }
  .about-us__box {
    margin-top: 24px;
    display: flex;
    flex-direction: column; }
  .about-us__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px; }
  .about-us__group {
    display: flex;
    flex-direction: column;
    margin-top: 8px; }
    .about-us__group .header__phone {
      margin: 0 0 8px;
      font-size: 18px;
      font-weight: 600; }
  .about-us__mail {
    font-size: 18px;
    font-weight: 600;
    align-self: flex-start; }

.certificate {
  padding: 48px 0;
  background-color: #FFF5E1; }
  .certificate .wrapper {
    display: flex;
    justify-content: center; }
  .certificate__colum {
    width: 100%;
    max-width: 365px; }
    .certificate__colum:nth-child(1) {
      margin-right: 24px; }
  .certificate__big-img {
    height: 546px;
    padding: 14px; }
  .certificate__large-img {
    height: 262px; }
    .certificate__large-img:not(:last-child) {
      margin-bottom: 24px; }
  .certificate__large-img, .certificate__big-img {
    width: 100%;
    background-color: #fff;
    border: 1px solid #FFDB99;
    position: relative;
    cursor: pointer; }
    .certificate__large-img:after, .certificate__big-img:after {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4); }
    .certificate__large-img:after, .certificate__large-img:before, .certificate__big-img:after, .certificate__big-img:before {
      content: "";
      position: absolute;
      opacity: 0;
      pointer-events: none; }
    .certificate__large-img:before, .certificate__big-img:before {
      top: 50%;
      left: 50%;
      width: 60px;
      height: 60px;
      background: url(../img/loop__plus.svg) 50%/contain no-repeat;
      z-index: 2;
      transform: translate(-50%, -50%) scale(0.6); }
    .certificate__large-img img, .certificate__big-img img {
      object-fit: contain; }

.overlay-from {
  position: absolute; }
  .overlay-from .over__close {
    position: absolute; }

.overlay-from, .gallery, .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  padding: 64px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center; }

.gallery, .overlay {
  position: fixed; }

.gallery__img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  z-index: 2; }

.over__close {
  position: fixed;
  top: 0;
  right: 0;
  width: 64px;
  height: 64px;
  display: flex;
  border: unset;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer; }
  .over__close svg {
    width: 40%;
    height: 40%; }

.modal-notifi {
  display: flex;
  justify-content: center; }
  .modal-notifi__block {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px 40px 36px;
    align-items: center;
    text-align: center;
    max-width: 320px;
    width: 100%;
    min-width: 278px; }
    .modal-notifi__block.success {
      border-top: 4px solid #007f24; }
    .modal-notifi__block.error {
      border-top: 4px solid #E10000; }
  .modal-notifi__img {
    width: 16px;
    height: 16px;
    margin-bottom: 8px; }
  .modal-notifi__title {
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 1.3; }
  .modal-notifi__text {
    font-size: 18px;
    line-height: 1.3; }

.preloader {
  position: relative;
  display: flex;
  width: 100px;
  height: 100px; }
  .preloader svg {
    width: 100%;
    height: 100%; }
  .preloader__spinner {
    animation: rotation 1.35s linear infinite;
    position: absolute; }
  .preloader__circle {
    stroke-dasharray: 180;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: turn 1.35s ease-in-out infinite;
    stroke: #FEBB14; }
  .preloader__circle-bg {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: rgba(255, 227, 115, 0.4); }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

@keyframes turn {
  0% {
    stroke-dashoffset: 180; }
  50% {
    stroke-dashoffset: 45;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 180;
    transform: rotate(450deg); } }

.vacancies {
  margin-bottom: 64px; }
  .vacancies h3 {
    margin-bottom: 0; }
  .vacancies .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative; }
  .vacancies__colum {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .vacancies__colum:nth-child(1) {
      max-width: 768px;
      margin-right: 44px;
      padding-top: 32px; }
    .vacancies__colum:nth-child(2) {
      max-width: 432px;
      position: sticky;
      top: 0;
      align-self: flex-start; }
  .vacancies__box {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px; }
    .vacancies__box:not(:last-child) {
      margin-bottom: 32px;
      border-bottom: 1px solid #CCCACF; }
  .vacancies__text {
    width: 100%; }
    .vacancies__text.gray {
      color: #7E7986;
      margin: 16px 0; }
  .vacancies__phone {
    font-size: 18px;
    font-weight: 600;
    margin-top: 32px; }
  .vacancies__phone-subtitle {
    font-size: 12px; }
  .vacancies .btn-text {
    align-self: flex-start; }
  .vacancies .btn {
    margin: 64px auto 0; }
  .vacancies__right-bar {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    padding: 64px 64px;
    background-color: #FFF5E1;
    align-items: center;
    text-align: center; }
  .vacancies .servis-ul {
    max-width: 656px;
    width: 100%;
    margin: 0 0 0 auto; }
  .vacancies__italic {
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 24px;
    font-style: italic;
    text-decoration: underline; }

.btn-text {
  display: flex;
  align-items: center;
  position: relative;
  color: #000; }
  .btn-text--next .btn-text__img {
    margin-left: 8px; }
  .btn-text--back .btn-text__img {
    margin-right: 8px; }
  .btn-text__text {
    cursor: pointer; }
  .btn-text__img {
    width: 16px;
    height: 10px;
    object-fit: contain; }

.servis-ul {
  padding-left: 30px; }
  .servis-ul__li:not(:last-child) {
    margin-bottom: 1rem; }
  .servis-ul__li {
    position: relative; }
    .servis-ul__li:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 8px;
      height: 8px;
      border: 1px solid #FEBB14;
      border-radius: 50%;
      margin: 8px 0 0 -30px; }

.pagination {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  justify-content: center; }
  .pagination__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 18px;
    color: #7E7986;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 2px;
    cursor: pointer;
    border-bottom: 2px solid transparent; }
    .pagination__btn.active {
      border-color: #000;
      color: #000; }
  .pagination__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer; }
  .pagination__img {
    width: 20px; }

input:focus, textarea:focus {
  border-color: #FEBB14; }

.btn:active {
  background-color: #FED367; }

.our-services__box:active {
  filter: drop-shadow(0px 8px 12px rgba(255, 166, 0, 0.25)); }

.social-networks__link:active, .header__phone:active, .about-us__mail:active, .vacancies__phone:active {
  color: #FEBB14; }

.over__close:active {
  background: rgba(0, 0, 0, 0.7); }

.btn-text:active.btn-text--next .btn-text__img {
  margin-left: 14px; }

.btn-text:active.btn-text--back .btn-text__img {
  margin-right: 14px;
  margin-left: -6px; }

.pagination__arrow:active.left .pagination__img {
  transform: translateX(-7px); }

.pagination__arrow:active.right .pagination__img {
  transform: translateX(7px); }

.pagination__btn:active {
  color: #000; }

@media (hover: hover) {
  .pagination__arrow:hover.left .pagination__img {
    transform: translateX(-7px); }
  .pagination__arrow:hover.right .pagination__img {
    transform: translateX(7px); }
  .pagination__btn:hover {
    color: #000; }
  .btn-text:hover.btn-text--next .btn-text__img {
    margin-left: 14px; }
  .btn-text:hover.btn-text--back .btn-text__img {
    margin-right: 14px;
    margin-left: -6px; }
  .over__close:hover {
    background: rgba(0, 0, 0, 0.7); }
  .btn:hover {
    background-color: #FED367; }
  .our-services__box:hover {
    filter: drop-shadow(0px 8px 12px rgba(255, 166, 0, 0.25)); }
  input:focus, textarea:focus, input:hover, textarea:hover {
    border-color: #FEBB14; }
  .checked:hover .checked__circle, .checked:hover .checked__bg {
    border-color: #FEBB14; }
  .footer__link:hover:after {
    opacity: 1; }
  .social-networks__link:hover, .header__phone:hover, .about-us__mail:hover, .vacancies__phone:hover {
    color: #FEBB14; }
  .certificate__large-img:hover:after, .certificate__large-img:hover:before, .certificate__big-img:hover:after, .certificate__big-img:hover:before {
    opacity: 1; }
  .certificate__large-img:hover:before, .certificate__big-img:hover:before {
    transform: translate(-50%, -50%) scale(1); } }

@media screen and (min-width: 992px) {
  .vacancies__colum:nth-child(1) {
    min-width: 520px; } }

@media screen and (max-width: 991px) {
  .vacancies .wrapper {
    flex-direction: column; }
  .vacancies__colum:nth-child(1) {
    max-width: 100%;
    margin-right: 0;
    padding-top: 0; }
  .vacancies__colum:nth-child(2) {
    max-width: 100%; }
  .vacancies__right-bar {
    max-width: 432px;
    margin: 32px auto 0; }
  .vacancies .servis-ul {
    margin: 0;
    max-width: 100%; }
  .about-us__colum:nth-child(1) {
    width: 270px;
    min-width: 270px; }
  .about-us__logo {
    width: 250px;
    height: 164px; }
  .about-us__logo-text {
    font-size: 32px; }
  .our-services__title {
    font-size: 18px;
    line-height: 24px; }
  .form__row {
    flex-direction: column; }
  .form__column:nth-child(1) {
    flex-direction: column;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 32px; }
  .form__column:nth-child(2) {
    max-width: calc(100% + 16px) !important;
    width: calc(100% + 16px); }
  .equipment-text__text {
    max-width: 100%;
    margin-left: 0; }
  .equipment-info__box, .equipment-description__box {
    flex-direction: column; }
  .equipment-info__img, .equipment-description__img {
    height: 40vw;
    min-height: 230px;
    margin-right: 0; }
  .equipment-info__img, .equipment-info .table, .equipment-info__colum-text, .equipment-description__img, .equipment-description .table, .equipment-description__colum-text {
    max-width: 100%; }
  .equipment-description__img img {
    max-height: unset; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .equipment-info-price {
    max-width: 670px;
    padding: 28px; }
    .equipment-info-price__title {
      width: 144px; }
    .equipment-info-price__text {
      font-size: 20px;
      line-height: 28px; }
  .equipment-info__img, .equipment-description__img {
    margin-bottom: 28px; }
  .about__img {
    max-width: 320px;
    width: 33vw;
    max-height: 440px;
    height: 45vw; } }

@media screen and (max-width: 767px) {
  .certificate .wrapper {
    flex-direction: column;
    align-items: center; }
  .certificate__colum:nth-child(1) {
    margin: 0 0 24px; }
  .about-us .wrapper {
    flex-direction: column;
    align-items: center; }
  .about-us__colum:nth-child(1) {
    margin: 0 0 28px; }
  .about-us__colum:nth-child(2) {
    max-width: 100%;
    align-items: center; }
  .about-us__box {
    text-align: center;
    align-items: center; }
  .about-us__group {
    align-items: center; }
  .gallery, .overlay {
    padding-right: 16px;
    padding-left: 16px; }
  .text-block__cont {
    flex-direction: column; }
  .text-block__colum {
    max-width: 100%; }
    .text-block__colum:first-child {
      margin-right: 0; }
    .text-block__colum:not(:last-child) {
      margin-bottom: 16px; }
  .text-block--ul-box:not(:last-child) {
    margin-bottom: 32px; }
  .text-block__h3 {
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto 32px; }
  .equipment-info, .equipment-description {
    margin-top: 66px; }
  .hero-mini, .text-block, .text-block__cont:not(:last-child), .about-us, .equipment-description__block {
    margin-bottom: 66px; }
  .form {
    margin: 66px 0; }
  .equipment-info-price {
    max-width: 600px;
    padding: 16px; }
    .equipment-info-price__title {
      width: 126px; }
    .equipment-info-price__text {
      font-size: 18px;
      line-height: 24px; }
  .equipment-info-price {
    padding: 16px; }
  .wrapper, .wrapper-big {
    padding: 0 16px; }
  .form__cont {
    padding: 20px 16px 32px; }
  .about {
    margin-top: 86px;
    margin-bottom: 66px; }
    .about .wrapper {
      flex-direction: column-reverse; }
    .about__colum-text, .about__colum-img {
      max-width: 100%; }
    .about__colum-img {
      margin-bottom: 32px; }
    .about__img {
      width: 54vw;
      height: 44vw;
      object-fit: cover; }
  .hero {
    height: auto;
    min-height: calc(100vh - 80px);
    padding: 50px 0; }
    .hero__box {
      margin-bottom: 0; }
  .our-services {
    padding-top: 66px; }
  .benefits {
    margin-top: 66px;
    margin-bottom: 86px; }
    .benefits__text {
      font-size: 16px; }
    .benefits__cirlce {
      margin-right: 16px; }
    .benefits h2 {
      margin-bottom: 48px; }
  h2 {
    margin-bottom: 32px; }
  .reviews {
    padding: 66px 0; }
  footer .wrapper {
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .footer__colum:first-child {
    padding: 0 !important; }
  .footer__colum:first-child, .footer__colum:last-child {
    max-width: 100%;
    width: 100%;
    align-items: center; }
  .footer__colum:not(:last-child) {
    padding: 0 12px;
    margin-bottom: 32px; }
  .footer__items {
    display: flex;
    justify-content: center;
    text-align: center; }
  .equipment-info__img, .equipment-description__img {
    margin-bottom: 16px; } }

@media screen and (min-width: 576px) and (max-width: 767px) {
  .our-services__cont, .reviews__cont {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 575px) {
  .equipment-info-price {
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .equipment-info-price__title {
      padding: 0;
      margin-bottom: 16px; }
    .equipment-info-price__group .equipment-info-price__text:not(:last-child) {
      margin-bottom: 16px; }
  .reviews__cont {
    grid-template-columns: repeat(1, 1fr); }
  .our-services__box {
    max-width: 365px;
    width: 100%;
    margin: 0 auto; }
  .our-services__cont {
    grid-template-columns: repeat(1, 1fr); }
  h1 {
    font-size: 38px;
    line-height: 42px;
    word-break: break-word; }
  .form__box {
    width: calc(100% - 16px); } }

@media screen and (max-width: 420px) {
  .vacancies__right-bar {
    padding: 64px 38px; }
  .checked {
    width: calc((100% - 32px) / 2); }
  .certificate__big-img {
    height: 446px; } }
